ul.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  list-style: none;
  justify-content: center;

  a, span {
    display: block;
    min-width: 32px;
    padding: 4px 8px;
    color: $text;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 3px;
  }

  a:hover {
    background: #eee;
  }

  .disabled span {
    color: #999;
    border-color: transparent;
    cursor: not-allowed;
  }

  .active span {
    background: $highlight;
    color: #fff;
    border-color: $highlight;
    font-weight: bold;
  }
}
